<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="#Welcome">Welcome</a></li>
		        	<li><a href="#Location">Location</a></li>
				<li><a href="#Agenda">Agenda</a></li>
				<li><a href="#Dress Code">Accommodations</a></li>
	        		<li><a href="#Accommodations">Accommodations</a></li>
				<li><a href="#Things to Do">Things to Do</a></li>
	        

	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li>© 2023 Jin-Ah Lee & Thiemo Wambsganss</li>
				</ul>
			</footer>
		</body>
	</html>
